{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "arrowParens": "always",
    "vueIndentScriptAndStyle": false,
    "vueIndentScriptWithTabs": false,
    "vueIndentStyleWithTabs": false,
    "vueWhitespaceBeforeOpeningBrace": false,
    "vueIndentInnerHtml": true,
    "vueQuoteProps": "as-needed",
    "vueQuoteStyle": "as-needed",
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "endOfLine": "lf",
    "singleAttributePerLine": false,
    "vueMaxAttributesPerLine": 1
}
